@tailwind base;
@tailwind components;
@tailwind utilities;


/* You can add global styles to this file, and also import other style files */

@media (min-width: 1024px) {
    .lg\:pl-24 {
        padding-left: 0!important;
    }
}

.max-w-screen-xl {
    max-width: None!important;
}




  /* Opaca solo el fondo de la página */
.no-padding-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Fondo negro semitransparente */
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1049; /* Asegúrate de que esté detrás del modal */
  }
  

  


  .no-margin-dialog {
    transform: translate(-50%, -50%) !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    background: white !important; /* Fondo blanco del modal */
    z-index: 1050 !important; /* Más alto que el fondo */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2) !important;
    border-radius: 8px !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .mat-mdc-form-field-infix{
    padding: 1rem!important;
  }
  